body{
    margin: 0px;
    padding: 0px;
}
/* //////////////////////////////////////////////////////// */

.home{
    height: 100vh;
    width: 100%;
    background-image: url("./imgs/home.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{

    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    
}

.navbar-logo{
    width: 30%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-logo img{
    width: 40%;
    height: 70%;
   
}
.navbar-list{
    width: 70%;
    height: 10vh;
    align-items: center;
    display: flex;
    
}
.navbar-list ul{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: aliceblue;
    margin: 0;
}
.navbar-list li{
    font-size: 25px ;
    width: 10% ;
    text-align: center;
    }
.navbar-list li:hover{
    color: rgb(240, 162, 60) ;
    transition: .5s;
    }

.text{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text div{
    width: 50%;
    height: 40vh;
    color: aliceblue;
    text-align: center;
    
}
.text h2{
   font-size: 35px;
   margin-bottom: 10px;
}
.text h1{
    font-size: 50px;
    margin-bottom: 10px;
}
.text p{
    font-size: 20px;
    margin-bottom: 35px;
}

.btn1{
    color: aliceblue;
    background-color: rgb(154, 126, 89);
    border: 2px  solid rgb(154, 126, 89);
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
    width: 20%;
}
.btn2{
    color: aliceblue;
    background-color: transparent;
    border: 2px  solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    width: 20%;
}

.btn1:hover{
background-color:rgb(240, 162, 60);
border:  2px  solid rgb(240, 162, 60);
transition: 1s;
}
.btn2:hover{
    background-color:rgb(240, 162, 60);
    border:  2px  solid rgb(240, 162, 60);
    transition: 1s;
    }
    

/* /////////////////////////////////////////////////////////////////////// */


.filed-1{
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: center;
    gap:  30px;
    margin: 30px  0px 20px 0px;
}
.child1{
    height: 65vh;
    width: 45%; 
    
}
.child1 img{
    width: 100%;
    height: 100%;
}
.child2{
    height: 65vh;
    width: 45%; 
}

.text-up-list{
    height:50%;
    width: 100%;  
    text-align: center; 
    
}
.text-up-list h2{
    margin: 30px;
    
}
.text-up-list p{
    margin: 30px;
    font-size: 20px;
    
}

.child2 ul{
    height:50%;
    width: 100%; 
    list-style: none;
    
}

.child2 li{
    margin-top: 25px;
    font-size: 16px;
}
#rer{
    flex-direction: row-reverse;
}
.backgr-img{
    height: 80vh;
    background-image: url("./imgs/sweet-pastry-assortment-top-view.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}


.text3{
    text-align: center;
    height: 10vh;
    margin: 30px;
}



.parent{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.child{
    width: 28%;
    margin-right: 8px;

    
}
.child img{
    width: 80%;

}


/* /////////////////////////////////////////////////////////////// */
/* d div info */

.info{
    height: 50vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.786);
    color: rgba(240, 248, 255, 0.688);
    display: flex;
    justify-content: space-evenly;
    
}
.div-c{
    width: 22%;
    height: 50vh;
}
.div-c3{
    width: 22%;
    height: 50vh;
}
.div-c3 ul{
 list-style: none ;

 padding: 0px;
}
.div-c3 li{
    border-width: 0px 0px 2px 0px;
    border-style:  solid ;
    border-color: rgba(240, 248, 255, 0.2);
    padding-bottom: 20px;
    margin-top: 4px;
    list-style: none ;
    
}
.info h2{
margin-bottom: 20px;
}
.div-c p {
line-height: 33px;
margin-bottom: 25px;

}
 

.foot{
    width: 100%;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.826);
   display: flex;
   justify-content: center;

}
.foot-c{
    width: 20%;
    height: 15vh;
    display: flex;
    align-items: center;
}
.foot-c img{
    width: 100%;
    height: 10vh;
}

* img:hover{
border-radius: 100px;
transition: .75s;
}
@media (min-width:850px) and (max-width:1050px){
    .navbar-list li{
        font-size: 20px ;
        width: 15% ;
        text-align: center;
        }
        .filed-1{
            height: 45vh;
            width: 100%;
            display: flex;
            justify-content: center;
            gap:  30px;
            margin: 30px  0px 20px 0px;
        }
        .child1{
            height: 45vh;
            width: 45%; 
            
        }
        .child1 img{
            width: 100%;
            height: 100%;
        }
        .child2{
            height: 45vh;
            width: 45%; 
        }
        
        .text-up-list{
            height:50%;
            width: 100%;  
            text-align: center; 
            
        }
        .text-up-list h2{
            margin: 30px;
            
        }
        .text-up-list p{
            margin: 20px;
            font-size: 17.5px;
            
        }
        
        .child2 ul{
            height:50%;
            width: 90%; 
            list-style: none;
            
        }
        
        .child2 li{
            margin-top: 25px;
            font-size: 16.5px;
        }


        .info{
            height: 40vh;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.786);
            color: rgba(240, 248, 255, 0.688);
            display: flex;
            justify-content: space-evenly;
            
        }
        .div-c{
            width: 22%;
            height: 40vh;
        }
        .div-c3{
            width: 23%;
            height: 40vh;
        }
        .div-c3 ul{
         list-style: none ;
        
         padding: 0px;
        }
        .div-c3 li{
            border-width: 0px 0px 2px 0px;
            border-style:  solid ;
            border-color: rgba(240, 248, 255, 0.2);
            padding-bottom: 12px;
            margin-top: 1px;
            list-style: none ;
            
        }
        .info h2{
        margin: 1px;
        margin-top: 10px;
        width: 100%;
        font-size:  22px;
        }
        .div-c p {
        line-height: 20px;
        margin-bottom: 15px;
        
        }
        
        .foot{
            width: 100%;
            height: 10vh;
            background-color: rgba(0, 0, 0, 0.826);
           display: flex;
           justify-content: center;
        
        }
        .foot-c{
            width: 20%;
            height: 10vh;
            display: flex;
            align-items: center;
        }
        .foot-c img{
            width: 100%;
            height: 8vh;
        }

        .backgr-img{
            height: 40vh;
            background-image: url("./imgs/sweet-pastry-assortment-top-view.jpg");
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;
        }
        body{
            margin: 0px;
            padding: 0px;
        }
}

@media (min-width:300px) and (max-width:500px){
    .navbar-list li{
        font-size: 20px ;
        width: 15% ;
        text-align: center;
        }
        .filed-1{
            height: 35vh;
            width: 100%;
            display: flex;
            justify-content: center;
            gap:  30px;
            margin: 30px  0px 20px 0px;
        }
        .child1{
            height: 35vh;
            width: 45%; 
            
        }
        .child1 img{
            width: 100%;
            height: 100%;
        }
        .child2{
            height: 45vh;
            width: 45%; 
        }
        
        .text-up-list{
            height:20vh;
            width: 100%;  
            text-align: center; 
            
        }
        .text-up-list h2{
            margin: 15px;
            
        }
        .text-up-list p{
            margin: 15px;
            margin-bottom: 15px;
            font-size: 10px;
            
        }
        
        .child2 ul{
            height:15vh;
            width: 90%; 
            list-style: none;
            margin: 0;
            padding: 0;
            
        }
        
        .child2 li{
            margin-top: 15px;
            font-size: 8px;
            text-align: center;

        }


        .info{
            height: 26vh;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.786);
            color: rgba(240, 248, 255, 0.688);
            display: flex;
            justify-content: space-evenly;
            
        }
        .div-c{
            width: 22%;
            height: 26vh;
        }
        .div-c3{
            width: 23%;
            height: 26vh;
        }
        .div-c3 ul{
         list-style: none ;
        
         padding: 0px;
        }
        .div-c3 li{
            border-width: 0px 0px 2px 0px;
            border-style:  solid ;
            border-color: rgba(240, 248, 255, 0.2);
            padding-bottom: 10px;
            margin-top: 1px;
            list-style: none ;
            font-size: 7px;
            
        }
        .info h2{
        margin: 1px;
        margin-top: 10px;
        width: 100%;
        font-size:  13px;
        }
        .div-c p {
        line-height: 12px;
        margin-bottom: 13px;
        font-size: 7px;
        
        }
        
        
        .foot{
            width: 100%;
            height: 5vh;
            background-color: rgba(0, 0, 0, 0.826);
           display: flex;
           justify-content: center;
        
        }
        .foot-c{
            width: 20%;
            height: 5vh;
            display: flex;
            align-items: center;
        }
        .foot-c img{
            width: 100%;
            height: 3vh;
        }

        .backgr-img{
            height: 30vh;
            background-image: url("./imgs/sweet-pastry-assortment-top-view.jpg");
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;
        }
        body{
            margin: 0px;
            padding: 0px;
        }

        /* //////////////////////////////////////////////////////// */

.home{
    height: 70vh;
    width: 100%;
    background-image: url("./imgs/home.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{

    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    
}

.navbar-logo{
    width: 30%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-logo img{
    width: 40%;
    height: 50%;
   
}
.navbar-list{
    width: 70%;
    height: 10vh;
    align-items: center;
    display: flex;
    
}
.navbar-list ul{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: aliceblue;
    margin: 0;
    padding: 0;
}
.navbar-list li{
    font-size: 10px ;
    width: 16% ;
    text-align: center;
    }
.navbar-list li:hover{
    color: rgb(240, 162, 60) ;
    transition: .5s;
    }

.text{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text div{
    width: 70%;
    height: 40vh;
    color: aliceblue;
    text-align: center;
    
}
.text h2{
   font-size: 25px;
   margin-bottom: 5px;
}
.text h1{
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.text p{
    font-size: 15px;
    margin-bottom: 35px;
}

.btn1{
    color: aliceblue;
    background-color: rgb(154, 126, 89);
    border: 2px  solid rgb(154, 126, 89);
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
    width: 40%;
}
.btn2{
    color: aliceblue;
    background-color: transparent;
    border: 2px  solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    width: 40%;
}

.btn1:hover{
background-color:rgb(240, 162, 60);
border:  2px  solid rgb(240, 162, 60);
transition: 1s;
}
.btn2:hover{
    background-color:rgb(240, 162, 60);
    border:  2px  solid rgb(240, 162, 60);
    transition: 1s;
    }
    

/* /////////////////////////////////////////////////////////////////////// */
* img:hover{
    border-radius: 50px;
    transition: .75s;
    }

    .navbar-logo img:hover{
        
        border-radius: 1px;
        
    }
    .foot-c img:hover{
        
        border-radius: 1px;
        
    }

    .parent{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 50px;
        justify-content: space-evenly;
    }
    .child{
        width: 32%;
        margin-right: 0px;
    
        
    }
    .child img{
        width: 80%;
    
    }
    .child p{
        font-size: 10px;
    
        
    }
    .child h2{
        font-size: 16px;
    
        
    }
}
